body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.main {
    width: 1050px;
    height: 600px;
    background-color: #15322e;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    text-align: center;
    padding: 0px;
}
.left_part {
    color: #ffffff;
    position: relative;
    z-index: 2;
    left: 35px;
    top: 50px;
}
.left_part img{
    width: 377px;
    height: 381px;
    border-radius: 20px;
    background-color: #15322e;
    padding: 20px;
    border: 10px solid #bea155;
}
.left_part p{
    font-size: 25px;
    margin-right: 10px;
    margin-top: 10px;
}
.right_part {
    color: #18322f;
    background-color: #ffffff;
    width: 701px;
    height: 576px;
    z-index: 1;
    position: absolute;
    left: 685px;
    margin-top: 12px;
    text-align: center;
}

.logo_part img{
    width: 300px;
    height: 200px;
    padding-left: 80px;
    margin-top: 26px;
}
.text_part{
    width: 321px;
    padding-left: 70px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.text_part h2{ 
    border-bottom: 3px solid#18322f;
    border-top: 3px solid#18322f;
    font-size: 30px;
    padding: 5px 0px;
}
.first_part p{
    font-size: 20px;   
}
.last_part{
    font-size: 25px;   
}
.main_tag{
    font-weight: bold;
}